# Gradle 相关文件
.gradle/
build/

# 本地配置文件（如 SDK 路径等）
local.properties

# 日志与操作系统生成的文件
*.log
.DS_Store

# Android Studio 生成的文件和文件夹
.idea/
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IntelliJ IDEA 相关配置文件
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# 签名文件 (Keystore)
*.jks
*.keystore

# Google 服务配置文件（如 API 或 Firebase）
google-services.json

# Android 性能分析文件 (Heap Dump)
*.hprof